html {

    background-size: 100%;
    height: 100%;
}

body{
    font-family: Pacifico;
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

/*neon*/
p {
    text-align: center;
    font-size: 7em;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}






/*neon Ende*/

#leer {
    height: 200px;
}

td {
    width: 40px;
    height: 40px;

}

#canva {
    background: deepskyblue;
    margin-top: 50px;
}

/*Canvas Start*/
#canvas{
    border:1px solid #000000;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
/*Canvas Ende*/

footer {
    display: block;
    color: #1d90cf;
    font-family: arial,sans-serif;
    font-size: 13px;
}

hr {
    height: 10px;
    margin: 0 auto;
    background: #FF0009;
    border: 0;
    border-radius: 7px 7px 7px 7px;
    box-shadow:  2px 2px 2px #d6183e;
}

ul{
    list-style: none;
}

li{
    margin: 6px 0 14px 0;
}