html {
    background-size: 100%;
    height: 100%;
}

body{
    margin:0;
    padding:0;
    height:100%;
    font-family: Pacifico;
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

#container {
    min-height:100%;
    position:relative;
}

#body {
    min-height: 675px;
    padding-bottom: 100px;
}

#footer {
    position: absolute;
    width: 98%;
    bottom: 0;
    color: white;
    font-family: arial,sans-serif;
    font-size: 13px;
    height:100px;
    padding:10px;
}

/*neon*/
p {
    text-align: center;
    margin: 20px 0 20px 0;
}

a {
    font-size: 60px;
    text-decoration: none;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    display: inline-block;
}

.uschrift {
    font-size: 100px;
}

.text{
    font-size: 60px;
}

#canva {
    box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #B6FF00, 0 0 18px #B6FF00, 0 0 20px #B6FF00, 0 0 25px #B6FF00, 0 0 38px #B6FF00;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

ul{
    list-style: none;
    padding: 10px;
}

li{
    margin: 6px 0 14px 0;
}

#timer {
    color: white;
    height: 10px;
}