html {
    text-align: center;
    background: url("background.jpg");
    background-size: 100%;
    height: 100%;
}

body{
    display: inline-grid;
    text-align: center;
}

.spielen{

}

table {
    border-collapse: collapse;
    border-color: blue;
}

td, th {

    border:1px solid black;


}

a{
    font-family: "Arial Black";
    font-size: x-large;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    padding: 20px;
    color: antiquewhite;
    background: url("1.png");
    background-size: 100% 100%;
}

a:hover {
    display:block;
    background: url("2.png");
    background-size: 100% 100%;
    color:white;
    border: none;
    outline:none;
}

#leer {
    height: 200px;
}

/*Canvas Start*/
#canvas {
    border:1px solid #000000;
    cursor: crosshair;
}
/*Canvas Ende*/


* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

.score {
    font-family: verdana;
    font-size: 2em;
    position: relative;
    color: #fff;
}
canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}